/*selector universal*/
*{
    padding: 0;
    margin: 0;
    background: azure;
}

/*selector selector de etiqueta tipo o elemento*/

h2{
    color: blue;
    text-align: center;
    margin: 20px 0px;
}
