/*selector universal*/
*{
    padding: 0;
    margin: 0;
    background: azure;
}

/*selector selector de etiqueta tipo o elemento*/

h2{
    color: blue;
    text-align: center;
    margin: 20px 0px;
}

/*selector descendiente*/
.principal p{
    color: red;
    text-align: justify;
}

/*selector de clase*/
.principal{
    width: 300px;
    height: 330px;
    margin: 100px auto;
}

/*selector de id*/
#textos{
    color: blue;
    margin: 10px 0;
}

/*selector descendentes combinados*/
.principal #textos input{
    border-radius: 10px;
    width: 250px;
    display: flex;
    margin: 10px 0;
    height: 20px;
}
.principal #textos laabel{
    border-radius: 10px;
    width: 100px;
}

/*selectores hijos*/
footer>h6{
    text-align: center;
    margin: 20px 0;
}

/*selectores adiacente*/

h4+p{
    color: red;
    font-family: monospace;
}
/*h4+p+p{
    clor: red;
}
h4+p+p+p{
    text-align: center;
}
h4+p+p+p+p{
    text-align: center;
}*/

/*selector del hermano general*/
h4~p{
    text-align: center;
}


/*SELECTOR DE ATRIBUTOS

selector de atributo basico*/

a[href]{
    color:dimgrey;
}

/*Selector de atributo con valor exacto*/
a[href="registro"]{
    float: right;
    text-decoration: none;
}

/*Selector de Atributo de una lista de valores separados por espacio*/
h5[class~="nombre"]{
    text-align: center;
}

/*Selector de atributos de una lista de valores separados por un guion*/
h5[class|="nombre"]{
    color: red;
    text-align: center;
}

/*Selector de atributo “Comienza con”*/
a[href^="https://"]{
    text-decoration: none;
}

a[href$=".pe"]{
    text-decoration: none;
